<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{title}} Recipe</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="bootstrap.min.css" rel="stylesheet">
        <link href="rumtopf.css" rel="stylesheet">
    </head>
    <body id="page-container">

        {{> header}}


        <div id="content-wrap container">

            <div class="row">

                <div class="col-xl-3">

                </div>

                <div class="col-xl-6 px-2">
                    <div class="px-2">
                    
                    <noscript>
                        <h6><code class="text-muted">You need to enable JavaScript to adjust the number of servings.</code></h6>
                        <hr class="mt-1">
                    </noscript>

                    {{{recipe}}}

                    </div>
                </div>

                <div class="col-xl-3">

                </div>

            </div>

        </div>


        
        {{> footer}}

        <script src="rumtopf.js"></script>
        <script src="bootstrap.bundle.min.js"></script>
    </body>
</html>
