<!DOCTYPE html>
<html class="h-100" lang="{{lang}}">
    <head>
        <title>
            {{title}} Recipe
            {{#if ctx.custom_title}}— {{ctx.title}}{{/if}}
        </title>
        {{> head}}
    </head>
    <body class="d-flex flex-column h-100">
        {{> header}}

        <div class="container my-3">
            <div class="row">
                <div class="col-lg-1 col-xl-2"></div>

                <div class="col-lg-10 col-xl-8">
                    <noscript>
                        <h6>
                            <code class="text-muted"
                                >You need to enable JavaScript to adjust the
                                number of servings.</code
                            >
                        </h6>
                        <hr class="mt-1" />
                    </noscript>

                    {{{recipe}}}
                </div>
            </div>
        </div>

        {{> footer}}

        <script src="rumtopf.js"></script>
        <script src="bootstrap.bundle.min.js"></script>
    </body>
</html>
