<form method="get" class="row">
    <label for="servings_input" class="form-label">Servings</label>
    <div class="col-8 col-sm-auto">
        <input
            id="servings_input"
            type="number"
            name="servings"
            min="0"
            step="any"
            class="servings_input form-control"
            value="{{servings}}"
            data-base="{{servings}}"
        />
    </div>
    <input
        type="submit"
        class="col-auto servings_submit btn btn-outline-primary"
        value="Change"
        disabled
    />
</form>
